*{
	font-family: verdana;
	font-size: 14px;
	border: solid black 1px;
	float: left;
}

img {
	width: 100px;
	height: 100px;
}

/*Styling for the navbar*/

nav {
	display: block;
	width: 100%;
	background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
ul li:hover {
    background-color: #555;
    color: white;
}

/*Styling for the text elements*/

h2 {
	font-size: 32px;
}

#title {
	width: 100%;
}

#welcome {
	clear: both;
}

/*Styling for the image elements*/

.header-photos {
	width: 49%;
}

.image-pair {
	display inline-block;
	width: 49%;
}

#pair-one {
	clear: left;
}


