*{
	font-family: verdana;
	font-size: 14px;
	/*border: solid black 1px;*/
}

body {
	background-color: #FFF3E0;
}

img {
	width: 100px;
	height: 100px;
}

/*Styling for the navbar*/

nav {
	display: block;
	width: 100%;
	background-color: #FF9800;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #FF9800;
    float: left;
}

li {
    float: left;
    padding: 12px;
}

li img {
	margin: 0;
	width: 50px;
	height: 50px;
}

#name {
	color: black;
	margin: 4px;
}

/* Change the link color on hover */
.navbar-icons:hover {
    background-color: #555;
    color: white;
}

/*Styling for the text elements*/

h2 {
	font-size: 32px;
	color: #424242;
	display: block;

}

p {
	color: #424242;
	display: inline-block;
}

#title {
	width: 100%;
}

#welcome {
	clear: both;
}

/*Styling for the image elements*/

.header-photos {
	width: 49%;
	display: inline-block;
	float: left;
}

.image-pair {
	margin-top: 10px;
	display: inline-block;
	width: 49%;
	float: left;
}

#pair-one {
	clear: left;
}


